<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
{% load staticfiles %}
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
        <!--Datatable Jquery and Buttons-->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
        <!-- App CSS-->
        <link rel="stylesheet" href="{% static 'payroll/css/main.css' %}">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <nav>
            <div class="nav-wrapper blue lighten-1">
                <div class="container">
                    <a href="{% url 'homepage' %}" class="brand-logo">payroll</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{% url 'get_report' %}">Report</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            {% block main %}

            {% endblock main %}
        </div>

        {% block footer %}
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

            <!--Export table buttons-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

            <!-- Payroll App JS-->
            <script src="{% static 'payroll/js/main.js' %}"></script>
        {% endblock footer %}        
    </body>
</html>
