body {
    height: 100%;
    background: #EDEDED;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.stretch {
    height: 110px !important;
}

#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

.base {
    border-bottom: 1px solid #42A5F5 !important;
}

.c-height {
    height: 3em !important;
    line-height: 3em !important;
    font-size: 15px;
    padding: 0 28px;
}
